name: build utm
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

env:
  BUILD_XCODE_PATH: /Applications/Xcode_15.3.app
  RUNNER_IMAGE: macos-14

jobs:
  build:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4
      
      - name: Download Sysroot
        run: |
          curl -L -O "https://drive.usercontent.google.com/download?id=1ix5k9Dv4l6mAR6fSgtISXOCbGj7EZO0Y&export=download&authuser=1&confirm=t&uuid=ce4de02e-b83f-46c6-895d-8e797f9aaa91&at=APZUnTX0z4eItMh_AjHzhh0JxxoF:1724248409195"
          unzip download
          tar -xvzf sysroot.tgz
          chmod +x build.sh
          ./build.sh -k macosx -s macOS -a arm64 -o UTM
          ls
